@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap");

.footer {
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
}

.footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.footer hr.small {
  margin: 20px 0;
}

.footer h6 {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
  font-weight: 600;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a,
.footer-links span {
  text-decoration: none;
  font-weight: 500;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.footer--contact-links i {
  margin-right: 5px !important;
}

.footer--contact-links li {
  min-width: 200px !important;
}

.footer--contact-column {
  margin-right: 5rem;
}

.footer-links.inline li {
  display: inline-block;
}

.footer .social-icons {
  text-align: right;
}

.footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.copyright-text {
  margin: 0;
  font-family: "Roboto Mono", monospace;
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  opacity: 0.8;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.facebook {
  background-color: #4867aa;
  color: #fff;
}

.social-icons a.instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  color: #fff;
}

.social-icons a.whatsapp {
  background-color: #2ccd47;
  color: #fff;
}

@media (max-width: 991px) {
  .footer [class^="col-"] {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .footer {
    padding-bottom: 0;
  }
  .footer .copyright-text,
  .footer .social-icons {
    text-align: center;
  }
}

@media only screen and (max-width: 994px) {
  .footer--contact-column {
    margin-right: auto;
  }
}
